<% layout('/layouts/boilerplate') -%>
<div class="row">
<div class="col-8 offset-2" >
    <h3>Create a new list</h3>
    <br>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="application/x-www-form-urlencoded">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input 
      name="listing[title]" 
      id="title"
      placeholder="Add a catchy title" 
      type="text" 
      class="form-control"
      required
    />
    <div class="valid-feedback">title looks good!</div>
    <div class="invalid-feedback">Please enter a title.</div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea 
      name="listing[description]" 
      id="description" 
      class="form-control" 
      required
      placeholder="Write a description"
    ></textarea>
    <div class="valid-feedback">Description looks good</div>
    <div class="invalid-feedback">Please enter a description.</div>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input 
      name="listing[image]" 
      id="image"
      placeholder="Enter image URL/Link"
      type="text"
      class="form-control"
      required
    />
    <div class="valid-feedback">Image URL looks good</div>
    <div class="invalid-feedback">Please enter an image URL.</div>
  </div>

  <div class="row">
    <div class="mb-3 col-md-4">
      <label for="price" class="form-label">Price</label>
      <input 
        name="listing[price]" 
        id="price"
        placeholder="1200"
        class="form-control"
        required
      />
      <div class="valid-feedback">Price looks good</div>
      <div class="invalid-feedback">Please enter a price.</div>
    </div>
  
    <div class="mb-3 col-md-8">
      <label for="country" class="form-label">Country</label>
      <input 
        name="listing[country]"
        id="country"
        placeholder="India"
        type="text"
        class="form-control"
        required
      />
      <div class="valid-feedback">Country looks good</div>
      <div class="invalid-feedback">Please enter a country.</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input 
      name="listing[location]" 
      id="location"
      placeholder="Jaipur, Rajasthan"
      type="text"
      class="form-control"
      required
    />
    <div class="valid-feedback">Location looks good</div>
    <div class="invalid-feedback">Please enter a location.</div>
  </div>

  <button type="submit" class="btn btn-dark add-btn">Add</button>
</form>

</div>
</div>

  
